@font-face {
  font-family: figtree;
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --yellow: #f4d04e;
  --white: #fff;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--gray-950);
  letter-spacing: 0;
  line-height: 150%;
  font-family: "figtree", sans-serif;
  position: relative;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 384px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 8px 8px;
  padding: 24px;
}

.blog-img {
  width: 100%;
  border-radius: 10px;
}

p {
  font-weight: 14px;
}

.tag {
  max-width: 82px;
  text-align: center;
  background-color: var(--yellow);
  font-weight: bold;
  padding: 4px 0;
  border-radius: 4px;
  margin-top: 24px;
}

.date {
  margin-top: 12px;
}

h1 {
  font-size: 24px;
  margin-top: 12px;
}

.description {
  font-size: 16px;
  margin-top: 12px;
  color: var(--gray-500);
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.user-info > p {
  font-size: 14px;
  font-weight: bold;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 500px) {
  .card {
    width: 327px;
  }
}
